body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.game {
  display: flex;
  flex-direction: row;
}

.leftPanel {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.buttonsPanel {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 15px;
  justify-content: center;
}

.colorBtn {
  height: 40px;
  width: 40px;
  border: none;
  cursor: pointer;
}

.colorBtn:hover {
  outline: none;
  border: 2px solid black;
}

.turnsPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  font-size: 20px;
  color: darkblue;
}

.turnsLab {
  text-transform: uppercase;
}

.turnsNum {
  margin-top: 10px;
}

.board {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(14, 40px);
  grid-template-rows: repeat(14, 40px);
}



.miBoton{
/* LINEAS COMENTADAS NO SE BIEN PARA QUE SIRVEN 
PERO POR SI LLEGA A DAR PROBLEMAS HAY QUE PROBAR*/

  /*margin: 0px;*/
  display: grid;
  grid-template-columns: repeat(14, 1.8px);
  grid-template-rows: repeat(14, 2.4px);

  background-color: transparent;
  border: none;
  cursor: pointer;
  /* overflow: hidden; */
 /* outline: none;*/ 

 font-size: 40px;
}

.miBoton:hover {
  outline: none;
  border: 2px solid black;
}
.capturados {
  display:flex;
  align-items: center;
  color: red;
  flex-direction: column;
  margin: 20px;
}
.Historial{
  display:flex;
  /*align-items: center;*/
  color: black;
  flex-direction: column;
  margin-top: 40px;
  font-size: 40px;
  margin: 20px;
}

